[submodule "minimal"]
	path = minimal
	url = https://github.com/ivandavidov/minimal.git
[submodule "os-tutorial"]
	path = os-tutorial
	url = https://github.com/cfenollosa/os-tutorial.git
[submodule "university/MIT/courses/tanaenbaum/minix"]
	path = university/MIT/courses/tanaenbaum/minix
	url = https://github.com/minix3/minix.git
